<footer class="footer">
        <div class="container">
            <section class="footer-content">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda vitae iure quod inventore reprehenderit error ipsam. Officia, voluptates officiis error vel repellendus facere ut, sint quidem at doloribus autem consequatur saepe recusandae. Magni rem sunt excepturi, labore perferendis quia vel ipsum nihil velit iusto adipisci ab dicta corporis, alias tenetur voluptas libero doloremque itaque aut minus qui saepe sequi explicabo. Quidem quisquam, corrupti tempore asperiores ipsa delectus cum quae id explicabo quaerat pariatur sunt dolorem veniam iure nemo eligendi sapiente. Voluptate, id omnis voluptatibus, aliquam ex corporis amet atque unde natus dolor minima distinctio consequuntur sunt! Ducimus obcaecati beatae repellat.
            </section>
        </div>
    </footer>